<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--城市数据表映射文件-->
<mapper namespace="com.vast.dao.ICityDao">
    <resultMap id="CityResultMap" type="com.vast.entity.City">
        <id column="id" property="id" javaType="java.lang.Integer" jdbcType="INTEGER"></id>
        <result column="code" property="code" jdbcType="VARCHAR" javaType="java.lang.String"></result>
        <result column="name" property="name" jdbcType="VARCHAR" javaType="java.lang.String"></result>
        <result column="provincecode" property="provinceCode" jdbcType="VARCHAR" javaType="java.lang.String"></result>
    </resultMap>

    <sql id="City_Column_List">
        Id,code,name,provincecode
    </sql>

    <select id="selectByCode" parameterType="java.lang.String" resultMap="CityResultMap">
        select
        <include refid="City_Column_List"/>
        from city
        where code = #{code}
    </select>

    <select id="listCount" resultType="int">
        select
        count(*)
        from
        city
    </select>

    <select id="selectAll" resultMap="CityResultMap">
        select
        <include refid="City_Column_List"></include>
        from city
    </select>

    <select id="pagingSelect" parameterType="java.util.Map" resultMap="CityResultMap">
        select
        <include refid="City_Column_List"></include>
        from city
        limit #{index},#{size}
    </select>

    <select id="likeByName" parameterType="java.lang.String" resultMap="CityResultMap">
        select
        <include refid="City_Column_List"></include>
        from city
        where name like "%"#{name}"%"
    </select>

    <select id="selectByProvinceCode" parameterType="java.lang.String" resultMap="CityResultMap">
        select
        <include refid="City_Column_List"></include>
        from city
        where provincecode=#{provinceCode}
    </select>
</mapper>