<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxit.dao.IProvinceDao">
    <resultMap id="ProvinceResultMap" type="com.jxit.entity.Province">
        <id column="id" property="id" javaType="java.lang.Integer" jdbcType="INTEGER"></id>
        <result column="code" property="code" jdbcType="VARCHAR" javaType="java.lang.String"></result>
        <result column="name" property="name" jdbcType="VARCHAR" javaType="java.lang.String"></result>
    </resultMap>

    <sql id="Province_Column_List">
        Id,code,name
    </sql>

    <select id="selectByCode" parameterType="java.lang.String" resultMap="ProvinceResultMap">
        select
        <include refid="Province_Column_List"/>
        from province
        where code = #{code}
    </select>

    <select id="listCount" resultType="int">
        select
        count(*)
        from
        province
    </select>

    <select id="selectAll" resultMap="ProvinceResultMap">
        select
        <include refid="Province_Column_List"></include>
        from province
    </select>

    <select id="pagingSelect" parameterType="java.util.Map" resultMap="ProvinceResultMap">
        select
        <include refid="Province_Column_List"></include>
        from province
        limit #{index},#{size}
    </select>

    <select id="likeByName" parameterType="java.lang.String" resultMap="ProvinceResultMap">
        select
        <include refid="Province_Column_List"></include>
        from province
        where name like "%"#{name}"%"
    </select>
</mapper>