<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--访客表数据表映射文件-->
<mapper namespace="club.cvast.dao.IVisitorDao">
    <resultMap id="VisitorResultMap" type="club.cvast.domain.Visitor">
        <id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT"></id>
        <result column="visitorIp" property="visitorIp" jdbcType="VARCHAR" javaType="java.lang.String"></result>
        <result column="requestUrl" property="requestUrl" jdbcType="VARCHAR" javaType="java.lang.String"></result>
        <result column="createDate" property="createDate" jdbcType="TIMESTAMP" javaType="java.util.Date"></result>
        <result column="updateDate" property="updateDate" jdbcType="TIMESTAMP" javaType="java.util.Date"></result>
    </resultMap>

    <sql id="Visitor_Column_List">
        id,visitorIp,requestUrl,createDate,updateDate
    </sql>

    <select id="selectById" parameterType="java.lang.Long" resultMap="VisitorResultMap">
        select
        <include refid="Visitor_Column_List"/>
        from visitor
        where id = #{id}
    </select>
    
    <select id="pagingSelect" parameterType="java.util.Map" resultMap="VisitorResultMap">
        select
        <include refid="Visitor_Column_List"></include>
        from visitor
        limit #{index},#{size}
    </select>

    <insert id="insert" parameterType="club.cvast.domain.Visitor">
        insert into visitor ( <include refid="Visitor_Column_List"/>) values(
        #{id},
        #{visitorIp},
        #{requestUrl},
        #{createDate},
        #{updateDate}
        )
    </insert>

    <select id="count" resultType="int">
        select
        count (*)
        from
        visitor
    </select>
</mapper>